<!DOCTYPE html>
<html>
    <head>
        <script src="../static/JS/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/CSS/button.css">
        <script language="javascript" type="text/javascript" src="../static/JS/script.js"></script>
    </head>
    <body>

        <h1>Downloading Virus...</h1>
        <label class="switch" style="visibility: hidden;">
            <input type="checkbox" name="TurnOn/OffButton" id="switch1"  onchange="toggleComputer(this)" >
            <span class="slider round"></span>
        </label>

    </body>
</html>